/* Global Elements */
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFDFD;
  min-width: 380px;
}

main#page-wrapper {
  position: relative;
}

main img.back {
  position: absolute;
  top: -3px;
  left: 0;
  width: 70%;
  max-width: 600px;
  z-index: -1;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Header Style  */
header#header {
  position: fixed;
  top: 0;
  min-height: 80px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}

header img#header-img {
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

/* Navegation Bar */
nav#nav-bar {
  display: flex;
  justify-content: flex-end;
}

nav#nav-bar ul {
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav#nav-bar a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #F9B3B3;
  letter-spacing: 1px;
}

/* Section Form */
section#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 200px;
  margin-bottom: 150px;
}

section#form h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-top: 140px;
  word-wrap: break-word;
}

section#form input[type="email"] {
  width: 300px;
  padding: 5px;
  margin-top: 10px;
}

section#form input[type="submit"] {
  display: flex;
  text-align: center;
  margin-left: 71px;
  margin-top: 10px;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px #4DCCC2 solid;
  border-radius: 4px;
  background-color: #4DCCC2;
  color: white;
  cursor: pointer;
}

section#form input[type="submit"]:hover {
  background-color: #40A39B;
  border: 2px #40A39B solid;
  color: rgba(255, 255, 255, 0.8);
}

/* Section Features */
section#features {
}

div.grid {
  display: flex;
}

/* Responsive Media Query */
@media (max-width: 700px) {
  main img.back {
    width: 75vw;
  }

  header img#header-img {
    width: 180px;
  }
  nav#nav-bar a {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  main img.back {
    margin-top: 110px;
    width: 75vw;
    min-width: 380px;
  }

  header {
    flex-wrap: wrap;
  }

  header img#header-img {
    top: 5px;
    width: 50%;
    height: 50%;
    max-width: 180px;
    position: relative;
  }

  nav#nav-bar {
    top: 5px;
    position: relative;
    margin;: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-left: 35%;
    margin-bottom: 5px;
  }

  nav#nav-bar li {
    padding-bottom: 5px;
  }

  nav#nav-bar ul {
    flex-direction: column;
  }

  section#form {
    margin-bottom:
  }

  section#form h1 {
    margin-top: 200px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
  }

  section#features {
    margin-top: 220px;
  }

}
